.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.icons {
  font-size: 50px;
}
.title {
  font-size: 50px;
  color: chocolate;
}
.subtitle {
  font-size: 30px;
  color: rgb(140, 142, 144);
}
