.categories {
  max-width: 450px;
  margin-top: 135px;
}
.categories ul {
  border-radius: 44px;
}
.categories li {
  display: flex;
  padding: 11px 1px;
}

.categories li a {
  font-size: 18px;
  line-height: 140%;
  color: #1e1e1e;
  opacity: 0.8;
  padding: 9px 25px;
  border-radius: 30px;
  margin: 4px 0px 5px 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.categories a:hover {
  background-color: #f6f6f666;
}

.categories li a:active {
  background-color: darken(#7e7e7e, 5%);
}
#active {
  background: #e58411;
  color: #fff;
  border-radius: 32px;
  margin: 4px 0px 5px 3px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .categories li a {
    padding: 9px 16px;
  }
}

@media (max-width: 400px) {
  .categories li a {
    padding: 9px 10px;
  }
}
@media (max-width: 350px) {
  .categories li a {
    font-size: 14px;
    padding: 9px 13px;
  }
}
@media (max-width: 320px) {
  .categories li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories li a {
    font-size: 18px;
    padding: 9px 42px;
  }
}
