@charset 'UTF-8';

.slick-arrow {
  position: absolute;
  top: 40%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.arrow.slick-prev {
  left: -26px;
  opacity: 0.7;
  background: url(../../assets/images/left.svg) 0 0 / 100% no-repeat;
  transition: all 0.3s;
}
.arrow.slick-prev:hover {
  opacity: 1;
}

.slick-arrow.slick-next {
  right: -2px;
  opacity: 0.7;
  background: url(../../assets/images/right.svg) 0 0 / 100% no-repeat;
  transition: all 0.3s;
}
.slick-arrow.slick-next:hover {
  opacity: 1;
}
